global
    log stdout format raw local0
    daemon

defaults
    mode tcp
    timeout connect 5s
    timeout client  30s
    timeout server  30s
    log global

frontend postgres_frontend
    bind *:5000
    default_backend postgres_primary

backend postgres_primary
    option tcp-check
    server primary itsm_postgres_primary:5432 check inter 5s rise 1 fall 2
